<a href="https://colab.research.google.com/github/dmorton714/louisville_metro/blob/main/lmg_salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [151]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime
import csv
import numpy as np

In [152]:
df = pd.read_csv('/content/salary.csv', encoding='cp1252')

header_row

['CalYear',
 'Employee_Name',
 'Department',
 'jobTitle',
 'Annual_Rate',
 'Regular_Rate',
 'Overtime_Rate',
 'Incentive_Allowance',
 'Other',
 'YTD_Total']

In [153]:
df.drop(columns=['Employee_Name', 'Regular_Rate', 'Overtime_Rate', 'Other', 'YTD_Total'], inplace=True)
df.rename(columns={'CalYear':'Year'}, inplace=True)
df.head()

,Year,Department,jobTitle,Annual_Rate,Incentive_Allowance
0,2020,Parks & Recreation,Park Worker II-CDL,33321.6,0.0
1,2020,Parks & Recreation,Recreation Instructor,22880.0,0.0
2,2020,Parks & Recreation,Recreation Aide,21840.0,0.0
3,2020,Human Services,Staff Helper/Internal,21008.0,0.0
4,2020,Parks & Recreation,Recreation Aide,21840.0,0.0

In [154]:
df.sort_values(by='Department', inplace=True)

df.head()

,Year,Department,jobTitle,Annual_Rate,Incentive_Allowance
18010,2019,Air Pollution Control,APCD Engineer I,62753.6,0.0
10221,2016,Air Pollution Control,Community Outreach Coord,48110.4,0.0
10220,2017,Air Pollution Control,Community Outreach Coord,49067.2,0.0
34227,2020,Air Pollution Control,Executive Assistant,35734.4,0.0
34228,2022,Air Pollution Control,Executive Assistant,40560.0,0.0

In [155]:
df.drop(df[df['Year'] != 2022].index, inplace=True)
df.head()

,Year,Department,jobTitle,Annual_Rate,Incentive_Allowance
34228,2022,Air Pollution Control,Executive Assistant,40560.0,0.0
10151,2022,Air Pollution Control,Management Assistant U310,55889.6,0.0
10224,2022,Air Pollution Control,Community Outreach Coord,57928.0,0.0
10401,2022,Air Pollution Control,APCD Field Technician U310,55328.0,0.0
17459,2022,Air Pollution Control,APCD Engineer III,85904.0,0.0

In [74]:
#find unique points values
department = df.Department.unique()

#sort values smallest to largest
department.sort()

#display sorted values
department

# print(df['Annual_Rate'].max())

array(['Air Pollution Control', 'Belle of Louisville',
       'Commonwealth Attorney', 'Coroner', 'County Attorney',
       'Criminal Justice Commission', 'Develop Louisville',
       'Economic Development', 'Emergency Mgt Agency/MetroSafe',
       'Finance', 'Fire Settlement', 'Human Relations Commission',
       'Human Resources', 'Human Services',
       'Inspections, Permits & License', 'Internal Auditor',
       'Kentuckiana Works Foundation', 'Library', 'Louisville Fire',
       'Louisville Metro EMS', 'Louisville Metro Police',
       'Louisville Zoo', "Mayor's Office", 'Metro Animal Services',
       'Metro Corrections', 'Metro Council', 'OMB - Billing Services',
       'Office of Equity', 'Office of Inspector General',
       'Office of Performance Improvmt', 'Other Officials',
       'Parking Authority of River Cty', 'Parks & Recreation',
       'Public Health & Wellness', 'Public Works', 'Revenue Commission',
       'Safe & Healthy Neighborhoods', 'Solid Waste Management',
       'Technology Services', 'Waterfront Development Corp',
       'Youth Detention Services'], dtype=object)

In [69]:
department = {
  'Air Pollution Control': [], 
  'Belle of Louisville' : [],
  'Commonwealth Attorney' : [],
  'Coroner' : [],
  'County Attorney': [],
  'Criminal Justice Commission': [], 
  'Develop Louisville': [],
  'Economic Development': [], 
  'Emergency Mgt Agency/MetroSafe': [],
  'Finance': [], 
  'Fire Settlement': [], 
  'Human Relations Commission': [],
  'Human Resources': [], 
  'Human Services': [],
  'Inspections, Permits & License': [], 
  'Internal Auditor': [],
  'Kentuckiana Works Foundation': [], 
  'Library': [], 
  'Louisville Fire': [],
  'Louisville Metro EMS': [], 
  'Louisville Metro Police': [],
  'Louisville Zoo': [], 
  "Mayor's Office": [], 
  'Metro Animal Services': [],
  'Metro Corrections': [], 
  'Metro Council': [], 
  'OMB - Billing Services': [],
  'Office of Equity': [], 
  'Office of Inspector General': [],
  'Office of Performance Improvmt': [], 
  'Other Officials': [],
  'Parking Authority of River Cty': [], 
  'Parks & Recreation': [],      
  'Public Health & Wellness': [], 
  'Public Works': [], 
  'Revenue Commission': [],       
  'Safe & Healthy Neighborhoods': [], 
  'Solid Waste Management': [],       
  'Technology Services': [], 
  'Waterfront Development Corp': [],       
  'Youth Detention Services': []
}

# Annual_Rate = ('salary')


# for salary in Annual_Rate:  
#   for Departments in department:
#     department[Departments].append([Annual_Rate].sum())

TypeError: ignored