In [324]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime
import csv
import numpy as np
import seaborn as sns

In [325]:
df = pd.read_csv('Louisville_Metro_KY_-_Employee_Salary_Data.csv')

In [326]:
# df.drop(columns=['Employee_Name', 'Incentive_Allowance', 'Other'], inplace=True)
df.rename(columns={'CalYear':'Year'}, inplace=True) 
df.sort_values(by='Department', inplace=True)
df.drop(df[df['Year'] != 2021].index, inplace=True)
agg_functions = {'Department': 'first', 'YTD_Total': 'sum'}
# df = df.groupby(df['Department']).aggregate(agg_functions)
df = df.sort_values('YTD_Total', ascending=False)

# df.to_excel("2021.xlsx") 

# print(df)

In [327]:
df['Hr_Rate'] = x = df['Annual_Rate'] / 2080
df['OT_Rate'] = x * 1.5
df['wkly_hr'] = df['Overtime_Rate'] / df['OT_Rate'] / 52 + 40

In [328]:

over_60 = df.query('wkly_hr >= 60')
# over_60.to_excel("60_plus_hours.xlsx")

In [329]:
df.query('wkly_hr >= 60')

# df2.to_excel("60_plus_hours.xlsx")

,Year,Employee_Name,Department,jobTitle,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,Other,YTD_Total,ObjectId,Hr_Rate,OT_Rate,wkly_hr
1727,2021,"Chambers, Amy",Louisville Metro Police,Police Sergeant,83324.80,87111.52,85407.24,10945.92,0.00,183464.68,1728,40.0600,60.09000,67.333116
10077,2021,"Fey, Ronald",Louisville Metro Police,Police Sergeant,76419.20,80488.28,74057.63,10318.08,845.00,165708.99,10078,36.7400,55.11000,65.842591
2087,2021,"Brown, Viola",Emergency Mgt Agency/MetroSafe,Communication Specialist II,55203.20,51916.80,105490.22,1999.92,3909.81,163316.75,2088,26.5400,39.81000,90.958505
15159,2021,"Lokits, Christopher",Louisville Metro EMS,EMS EMT-Paramedic II,77792.00,74123.47,82605.06,350.00,1496.00,158574.53,15160,37.4000,56.10000,68.316557
9715,2021,"Hodge, Jeff",Louisville Metro Police,Police Officer,67579.20,81547.48,65197.43,9911.28,780.00,157436.19,9716,32.4900,48.73500,65.726823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43856,2021,"Young, Anson",Metro Corrections,Corrections Officer,41579.20,40565.99,32327.29,0.00,304.00,73197.28,43857,19.9900,29.98500,60.732988
33537,2021,"Powell, Andrew",Louisville Metro EMS,EMT,36545.60,34250.76,38220.43,350.00,0.00,72821.19,33538,17.5700,26.35500,67.888760
45375,2021,"Salman, Saja",Metro Corrections,Corrections Officer,36732.80,35626.98,29689.51,0.00,16.00,65332.49,45376,17.6600,26.49000,61.553496
37349,2021,"Graham, Ishmael",Louisville Metro EMS,EMT,35838.40,35832.42,27982.38,350.00,0.00,64164.80,37350,17.2300,25.84500,60.821153
45895,2021,"Renfrow, Lisa",Public Health & Wellness,Staff Helper/Internal,29243.76,31140.27,22434.95,0.00,376.36,53951.58,45896,14.0595,21.08925,60.457880

In [330]:
df2 = df.query('YTD_Total >= 1.5 * Annual_Rate')
df2 = df2.sort_values('wkly_hr', ascending=False)
df2

,Year,Employee_Name,Department,jobTitle,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,Other,YTD_Total,ObjectId,Hr_Rate,OT_Rate,wkly_hr
2087,2021,"Brown, Viola",Emergency Mgt Agency/MetroSafe,Communication Specialist II,55203.20,51916.80,105490.22,1999.92,3909.81,163316.75,2088,26.540,39.8100,90.958505
14151,2021,"Standard, Royce",Metro Corrections,Corrections Officer,53310.40,53354.96,93247.03,0.00,820.16,147422.15,14152,25.630,38.4450,86.643572
11337,2021,"McCubbins, Joe",Metro Corrections,Corrections Sergeant,63065.60,63433.16,92840.64,0.00,0.00,156273.80,11338,30.320,45.4800,79.256749
23110,2021,"Stimphil, Richardson",Metro Corrections,Corrections Officer,47382.40,47719.83,66958.17,0.00,206.64,114884.64,23111,22.780,34.1700,77.683849
26418,2021,"Skaggs, Ramon",Metro Corrections,Corrections Officer,45801.60,45493.73,62082.27,0.00,134.08,107710.08,26419,22.020,33.0300,76.145619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47021,2021,"Heithaus, Oscar",Metro Council,Metro Council Staff Helper,10753.60,19770.08,0.00,0.00,0.00,19770.08,47022,5.170,7.7550,40.000000
41466,2021,"Woodard, Charlene",Public Health & Wellness,Comm Hlth Nurse Speclst - BX,11232.00,19674.90,0.00,0.00,0.00,19674.90,41467,5.400,8.1000,40.000000
10088,2021,"Wilder, Clara",Public Health & Wellness,Comm Hlth Services Clerk - BX,7165.60,15761.97,0.00,0.00,0.00,15761.97,10089,3.445,5.1675,40.000000
44604,2021,"Scott, Garry",Parks & Recreation,Staff Assistant,7069.92,11604.19,0.00,0.00,0.00,11604.19,44605,3.399,5.0985,40.000000
11765,2021,"Thompson, Micheal",Other Officials,Constable,2600.00,9600.00,0.00,0.00,0.00,9600.00,11766,1.250,1.8750,40.000000

In [331]:
print(df)

       Year         Employee_Name               Department  \
46195  2021        Shields, Erika  Louisville Metro Police
29726  2021    Cottongim, Zachary  Louisville Metro Police
7934   2021       Miller, Russell  Louisville Metro Police
1727   2021         Chambers, Amy  Louisville Metro Police
13464  2021       Keller, Matthew  Louisville Metro Police
...     ...                   ...                      ...
46540  2021  Paganafanador, Anani           Louisville Zoo
43369  2021       Johnson, Cidnei       Develop Louisville
45827  2021       Staueble, David           Louisville Zoo
6820   2021       Scott, Jennifer       Parks & Recreation
45332  2021        Griffis, Chloe           Louisville Zoo

                             jobTitle  Annual_Rate  Regular_Rate  \
46195                    Police Chief     216301.8     200156.01
29726                  Police Officer      59862.4     151876.52
7934                Police Lieutenant     110032.0     111982.58
1727                  Police Sergeant      83324.8      87111.52
13464               Police Lieutenant     110032.0      98378.18
...                               ...          ...           ...
46540  Splash Park Attendant - Temp W      20202.0         61.05
43369           Staff Helper/Internal      23400.0         60.00
45827              Zoo Service Worker      18382.0         57.57
6820                  Recreation Aide      21840.0         55.13
45332              Zoo Service Worker      18382.0         29.29

       Overtime_Rate  Incentive_Allowance     Other  YTD_Total  ObjectId  \
46195           0.00             17016.57   2764.80  219937.38     46196
29726       34370.48              8244.48  11221.76  205713.24     29727
7934        69794.76             12796.56      0.00  194573.90      7935
1727        85407.24             10945.92      0.00  183464.68      1728
13464       65510.34             10803.12    780.00  175471.64     13465
...              ...                  ...       ...        ...       ...
46540           0.00                 0.00      0.00      61.05     46541
43369           0.00                 0.00      0.00      60.00     43370
45827           0.00                 0.00      0.00      57.57     45828
6820            0.00                 0.00      0.00      55.13      6821
45332           0.00                 0.00      0.00      29.29     45333

         Hr_Rate     OT_Rate    wkly_hr
46195  103.99125  155.986875  40.000000
29726   28.78000   43.170000  55.310882
7934    52.90000   79.350000  56.915021
1727    40.06000   60.090000  67.333116
13464   52.90000   79.350000  55.876676
...          ...         ...        ...
46540    9.71250   14.568750  40.000000
43369   11.25000   16.875000  40.000000
45827    8.83750   13.256250  40.000000
6820    10.50000   15.750000  40.000000
45332    8.83750   13.256250  40.000000

[6674 rows x 14 columns]